[submodule "Chapter-1"]
	path = Chapter-1
	url = git@github.com:dastarruer/Chapter-1.git
[submodule "Chapter-2"]
	path = Chapter-2
	url = git@github.com:dastarruer/Chapter-2.git
[submodule "Chapter-4"]
	path = Chapter-4
	url = git@github.com:dastarruer/Chapter-4.git
[submodule "Chapter-6"]
	path = Chapter-6
	url = git@github.com:dastarruer/Chapter-6.git
